# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{py,ts,js,tf,yml,ts,tsx,mjs,md,js,jsx,svg,json}]
charset = utf-8

# 2 space indentation
[*.{py,ts,js,tf,yml,ts,tsx,mjs,md,js,jsx,svg}]
indent_style = space
indent_size = 2

# 4 tab indentation
[*.{pl,sh,json}]
indent_style = tab
indent_size = 4

# 2 space indentation // matches the exact file
[{package.json,.gitignore,.gcloudignore}]
indent_style = space
indent_size = 2

# 4 tab indentation // matches the exact file
[{Makefile,Dockerfile}]
indent_style = tab
indent_size = 4
